name: deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: deploy
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - uses: ./.github/actions/setup

      - name: Deploy
        id: deployment
        run: yarn wrangler pages deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
